@import './variable.css';

.bk-divider {
    position: relative
}

.bk-divider-info {
    position: absolute;
    padding: 0 1.4em;
    color: $newBlackColor1;
    top:50%;
    transform: translateY(-50%);
    background-color: $defaultLightColor;
    &-left {
        left: 2em;
    }
    &-center {
        left: 50%;
        transform: translateX(-50%) translateY(-50%)
    }
    &-right {
        right: 2em;
    }
}
