.bk-exception {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    &-img {
        display: flex;
        align-items: center;
        justify-content: center;

        .exception-image {
            object-fit: contain;
            display: block;
            height: 200px;
            vertical-align: middle;
        }
        &.part-img {
            .exception-image{
                height: 100px;
            }
        }
    }
    &-text{
        font-size: 24px;
        color: #63656E;
        text-align: center;
        &.part-text {
            font-size: 14px;
        }
    }
}
