/* link 组件专用变量，避免覆盖全局变量 */
$linkDefaultColor: #63656e;
$linkDefaultHoverColor: #979ba5;
$linkDefaultDisabledColor: #dcdee5;

$linkPrimaryColor: #3a84ff;
$linkPrimaryHoverColor: #699df4;
$linkPrimaryDisabledColor: #a3c5fd;

$linkSuccessColor: #2dcb56;
$linkSuccessHoverColor: #44e360;
$linkSuccessDisabledColor: #94f5a4;

$linkWarningColor: #ff9c01;
$linkWarningHoverColor: #ffb849;
$linkWarningDisabledColor: #ffd695;

$linkDangerColor: #ea3636;
$linkDangerHoverColor: #fe5657;
$linkDangerDisabledColor: #fd9c9c;

.bk-link {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    line-height: 20px;
    .bk-link-icon {
        font-size: 14px;
        &.is-left {
            margin-right: 4px;
        }
        &.is-right {
            margin-left: 4px;
        }
    }
    .bk-link-text {
        font-size: 14px;
    }
    &.is-default {
        color: $linkDefaultColor;
        &:hover {
            color: $linkDefaultHoverColor;
        }
        &.is-disabled {
            color: $linkDefaultDisabledColor;
        }
    }
    &.is-primary {
        color: $linkPrimaryColor;
        &:hover {
            color: $linkPrimaryHoverColor;
        }
        &:active {
            color: #1768ef;
        }
        &:visited {
            color: $linkPrimaryHoverColor;
        }
        &.is-disabled {
            color: $linkPrimaryDisabledColor;
        }
    }
    &.is-success {
        color: $linkSuccessColor;
        &:hover {
            color: $linkSuccessHoverColor;
        }
        &:active {
            color: #1bb943;
        }
        &:visited {
            color: $linkSuccessHoverColor;
        }
        &.is-disabled {
            color: $linkSuccessDisabledColor;
        }
    }
    &.is-warning {
        color: $linkWarningColor;
        &:hover {
            color: $linkWarningHoverColor;
        }
        &:active {
            color: #eb9000;
        }
        &:visited {
            color: $linkWarningHoverColor;
        }
        &.is-disabled {
            color: $linkWarningDisabledColor;
        }
    }
    &.is-danger {
        color: $linkDangerColor;
        &:hover {
            color: $linkDangerHoverColor;
        }
        &:active {
            color: #da2726;
        }
        &:visited {
            color: $linkDangerHoverColor;
        }
        &.is-disabled {
            color: $linkDangerDisabledColor;
        }
    }
    &.is-disabled {
        cursor: not-allowed;
    }
    &.has-underline {
        text-decoration: underline;
    }
}
